{% extends 'AppBundle:Front:layout.html.twig' %}

{% block bgtitle %}
    <div id="page-title" class="page-title has-bg">
        <div class="bg-cover"><img src="{{ asset('assets/img/cover.jpg') }}" alt="" /></div>
        <div class="container">
            <h1>Official Color Admin Blog</h1>
            <p>Blog Concept Front End Page</p>
        </div>
    </div>
{% endblock %}


{% block body %}
        <div class="col-md-9">
            <!-- begin post-list -->
            <ul class="post-list">
                {% for article in articles %}
                    {% include 'AppBundle:Front/Home:_item-article.html.twig' %}
                {% endfor %}
            </ul>
            <!-- end post-list -->

            <div class="section-container">
                <!-- begin pagination -->
                <div class="pagination-container text-center">
                    <ul class="pagination m-t-0 m-b-0">
                        <li class="disabled"><a href="javascript:;">Prev</a></li>
                        <li class="active"><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><span class="text">...</span></li>
                        <li><a href="javascript:;">1797</a></li>
                        <li><a href="javascript:;">Next</a></li>
                    </ul>
                </div>
                <!-- end pagination -->
            </div>
        </div>
{% endblock %}